<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dummy Tests</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{content-for "head"}}
        {{content-for "test-head"}}

        <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
        <link rel="stylesheet" href="{{rootURL}}assets/dummy.css">
        <link rel="stylesheet" href="{{rootURL}}assets/test-support.css">

        {{content-for "head-footer"}}
        {{content-for "test-head-footer"}}
    </head>
    <body>
        <div class="ember-load-indicator">
            <div class="col-md-1 col-sm-2 col-xs-4">
                <img class="img-responsive" src="assets/images/logo.png" alt="ember-fw-acl logo" />
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>

        {{content-for "body"}}
        {{content-for "test-body"}}

        <script src="{{rootURL}}testem.js" integrity=""></script>
        <script src="{{rootURL}}assets/vendor.js"></script>
        <script src="{{rootURL}}assets/test-support.js"></script>
        <script src="{{rootURL}}assets/dummy.js"></script>
        <script src="{{rootURL}}assets/tests.js"></script>

        {{content-for "body-footer"}}
        {{content-for "test-body-footer"}}
    </body>
</html>
