<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <meta name="description" content="{{projectDescription}}">
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="stylesheet" href="{{projectAssets}}/css/custom.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/theme.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css'>
    {{!-- <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png"> --}}
    <!-- favicon information -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    {{setupGlobals}}

    {{#if projectPrimaryColor}}
      <style>
        body a {
          color: {{projectPrimaryColor}};
        }
        body a:hover {
          color: {{projectPrimaryColor}};
          opacity: 0.5;
        }
        .navbar.navbar-default .navbar-nav> li> a:focus, .navbar.navbar-default .navbar-nav> li> a:hover {
          color: {{projectPrimaryColor}};
        }
        .navbar.navbar-default .navbar-nav> .active> a, .navbar.navbar-default .navbar-nav> .active> a:focus, .navbar.navbar-default .navbar-nav> .active> a:hover {
          color: {{projectPrimaryColor}};
        }
        #docs-main .page-header {
          color: {{projectPrimaryColor}};
        }
        #docs-main .page-section .nav-tabs {
          border-bottom: 1px solid {{projectPrimaryColor}};
        }
        #docs-main .page-section .nav-tabs> li.active a {
          background: {{projectPrimaryColor}};
          border: 1px solid {{projectPrimaryColor}};
        }
        #sidebar li.panel .panel-body ol> li.active, #sidebar li.panel .panel-body ol> li:hover {
          background: #efefef;
        }
      </style>
    {{/if}}
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{{projectRoot}}" class="navbar-brand">
            {{#if projectLogo}}
              <img src="{{projectLogo}}" alt="enterprise logo">
            {{else}}
              <img src="{{projectAssets}}/img/ember-logo.png" alt="enterprise logo">
            {{/if}}
            <span>{{projectName}} (API)</span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://linformatics.bitbucket.io/docs/">Docs</a></li>
            <li><a href="https://linformatics.bitbucket.io/downloads/">Downloads</a></li>
            <li><a href="https://linformatics.bitbucket.io/api/">API</a></li>
            <li><a href="{{projectUrl}}" class="fa fa-github github"></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main-wrapper" class="row">
        <div id="content-wrapper">
            {{>sidebar}}
            <div class="content-container">
                <div class="apidocs">
                    <div id="docs-main">
                        <div class="content">
{{>layout_content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
    <script>prettyPrint();</script>
    <script src="{{projectAssets}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{projectAssets}}/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{projectAssets}}/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="{{projectAssets}}/vendor/github-slugger/slugger.js"></script>
    <script src="{{projectAssets}}/js/yuidoc-bootstrap.js"></script>
</body>
</html>
