<section class="fw-app-info pull-left clearfix" role="button" {{action "toggleAppsModal"}}>
    <img class="fw-app-logo pull-left" src="{{logo}}" />
    <span class="fw-app-name pull-left">{{config.name}}</span>
</section>

<a class="fw-header-link pull-right clearfix border-right" role="button" href="/docs/">
    <span class="link-text pull-right">Docs</span>
</a>
