<div class="panel panel-default">
    <header class="panel-heading">
        <strong class="panel-title">Access Rules for {{capitalize-first model.resource}} "{{model.name}}"</strong>
    </header>

    <section class="panel-body">
        <div id="access-control-dropdown-list"></div>
        <FwPanelScrollable @maxHeight="67vh" @scrollbarThickness="thin">
            <FwNotifications @outlet="access-control" />

            {{#if accessRules}}
                <p><strong>Current Rules:</strong></p>

                <li class="fw-collection-ul hover-buttons">
                    {{#let
                        (action "editRule")
                        (action "deleteRule")
                        as |edit delete|
                    }}
                        {{#each deptRules as |rule|}}
                            <ShowCurrentRule @rule={{rule}} @property="dept" @readOnly={{readOnly}} @types={{booleanTypes}} @edit={{edit}} @delete={{delete}} />
                        {{/each}}

                        {{#each groupRules as |rule|}}
                            <ShowCurrentRule @rule={{rule}} @property="group" @readOnly={{readOnly}} @types={{booleanTypes}} @edit={{edit}} @delete={{delete}} />
                        {{/each}}


                        {{#each roleRules as |rule|}}
                            <ShowCurrentRule @rule={{rule}} @property="role" @readOnly={{readOnly}} @types={{booleanTypes}} @edit={{edit}} @delete={{delete}} />
                        {{/each}}

                        {{#each userRules as |rule|}}
                            <ShowCurrentRule @rule={{rule}} @property="user" @readOnly={{readOnly}} @types={{booleanTypes}} @edit={{edit}} @delete={{delete}} />
                        {{/each}}
                    {{/let}}
                </li>
            {{else if loading}}
                <p><strong>Loading existing rules...</strong></p>
            {{else}}
                <p><strong>No rules are currently defined for this resource.</strong></p>
            {{/if}}

            {{#unless readOnly}}
                <hr>
                <section class="panel-body">
                    <p>
                        <strong>Add New Rule:</strong>
                        {{#if (and showCurrentCheckbox (not model.disableLimitDept))}}
                            <div class="pull-right">
                                <label>
                                    {{one-way-checkbox newRule.currentDept update=(action (mut newRule.currentDept))}}
                                    Limit dept.
                                    <FwInfoIcon @info='If checked, user will only have access in the current department instead of all departments' />
                                </label>
                            </div>
                        {{/if}}
                    </p>
                    <div class="col-lg-6 col-md-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="form-group">
                            <PowerSelect @allowClear={{true}} @searchField="name" @options={{allowedDepts}} @selected={{selectedDept}} @placeholder="Department Filter" @onchange={{action (mut selectedDept)}} @destination="access-control-dropdown-list" @disabled={{editing}} as |dept|>
                                {{dept.name}}
                            </PowerSelect>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="form-group">
                            <div class="input-group">
                                <PowerSelectMultiple @search={{action "search"}} @selected={{newRule.type}} @placeholder="Search..." @loadingMessage="Loading..." @noMatchesMessage="Nothing found." @onchange={{action (mut newRule.type)}} @destination="access-control-dropdown-list" @verticalPosition="auto" @disabled={{editing}} as |type|>
                                    {{type.name}}
                                </PowerSelectMultiple>
                                <span class="input-group-btn">
                                    <FwTaskButton title={{if editing "Save"}} @class="btn btn-primary" @disableWhen={{noType}} @type="button" @task={{addNewRule}}>
                                        {{#if editing}}
                                            <i class="fa-regular fa-floppy-disk" />
                                        {{else}}
                                            <i class="fa-solid fa-plus" />
                                            Add
                                        {{/if}}
                                    </FwTaskButton>
                                    {{#if editing}}
                                        <button type="button" class="btn btn-danger" title="Cancel" {{action "cancel"}}>
                                            <i class="fa-solid fa-xmark" />
                                        </button>
                                    {{/if}}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel-body">
                    <p>
                        <strong>Permissions:</strong>
                        <label title="Base permission is assigned to all rules">
                            <input type="checkbox" checked disabled />
                            Base
                            {{#if model.baseDesc}}
                                <FwInfoIcon @info={{model.baseDesc}} />
                            {{/if}}
                        </label>
                        <button class="btn btn-primary btn-xs pull-right" {{action "checkAll"}}>
                            <i class="fa-solid fa-check" />
                            {{if allChecked "Uncheck All" "Check All"}}
                        </button>

                    </p>
                    {{#if loading}}
                        <FwLoadingSpinner />
                    {{else}}
                        {{#if model.typeCategories}}
                            {{#each categorizedBooleans as |category|}}
                                <div class="col-xs-6 col-sm-4">
                                    <h5>{{category.name}}</h5>
                                    <ul class="fw-collection-ul">
                                        {{#each category.types as |type|}}
                                            <li>
                                                {{#let (and forceEdit (eq type.id 'edit')) as |disabled|}}
                                                    <label
                                                        title={{if disabled 'Cannot remove the last edit rule, doing so would prevent anyone from editing the service.'}}
                                                    >
                                                        {{one-way-checkbox
                                                            (get newRule type.id)
                                                            update=(action 'setType' type.id)
                                                            disabled=disabled
                                                        }}
                                                        {{type.name}}
                                                        {{#if type.desc}}
                                                            <FwInfoIcon @info={{type.desc}} />
                                                        {{/if}}
                                                    </label>
                                                {{/let}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/each}}
                        {{else}}
                            {{#each visibleBooleans as |type|}}
                                <div class="col-xs-6 col-sm-4">
                                    {{#let (and forceEdit (eq type.id 'edit')) as |disabled|}}
                                        <label
                                            title={{if disabled 'Cannot remove the last edit rule, doing so would prevent anyone from editing the service.'}}
                                        >
                                            {{one-way-checkbox
                                                (get newRule type.id)
                                                update=(action 'setType' type.id)
                                                disabled=disabled
                                            }}
                                            {{type.name}}
                                            {{#if type.desc}}
                                                <FwInfoIcon @info={{type.desc}} />
                                            {{/if}}
                                        </label>
                                    {{/let}}
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/if}}

                </section>
            {{/unless}}
        </FwPanelScrollable>
    </section>

    {{#if isModal}}
        <footer class="panel-footer clearfix">
            <button type="button" class="btn btn-danger pull-right" {{action "closeModal"}}>
                <i class="fa-solid fa-xmark" />
                Close
            </button>
        </footer>
    {{/if}}
</div>
