<span class="col-xs-12 col-md-5">
    <strong>{{capitalize-first property}}: </strong>{{get rule property}}
    {{#if department}}
        ({{department}})
    {{/if}}
</span>
<span class="col-xs-9 col-md-5"><strong>Types: </strong>{{activeTypes}}</span>

{{#if (not readOnly)}}
    <div class="col-xs-3 col-md-2">
        <div class="row">
            <button class="btn btn-danger btn-xs col-xs-6" {{action 'delete'}}>
                <i class="fa-solid fa-xmark"></i>
            </button>
            <button class="btn btn-primary btn-xs col-xs-6" {{action 'edit'}}>
                <i class="fa-solid fa-pencil"></i>
            </button>
        </div>
    </div>
{{/if}}
