{{ember-load-remover}}
<FwHeader />

<FwNav>
    <ul>
        <li><LinkTo @route="index">Main</LinkTo></li>
    </ul>
</FwNav>

<main class="container fw-container">
    <div class="row">
        {{outlet}}
    </div>
</main>